<template>
  <div>
    <b-container fluid>
      <b-row>
        <b-col class="text-right">
          <ProductForm
            :product="selectedItem"
            ref="productForm"
            @save-sub="saveProduct"
          ></ProductForm>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          <b-table :items="productItem" :fields="fields">
            <template #cell(price)="{ item }">
              ฿{{ item.price.toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,') }}
            </template>
            <template #cell(operators)="{ item }">
              <b-button @click="editProduct(item)">แก้ไข</b-button
              ><b-button
                @click="deleteProduct(item)"
                class="ml-1"
                variant="danger"
                >ลบ</b-button
              >
            </template>
          </b-table>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>
<script>
import ProductForm from './ProductForm.vue'
import axios from 'axios'
export default {
  components: {
    ProductForm
  },
  methods: {
    makeToast (title, message, variant = 'success', append = false) {
      this.toastCount++
      this.$bvToast.toast(message, {
        title: title,
        variant: variant,
        autoHideDelay: 3000,
        appendToast: append
      })
    },
    saveProduct (item) {
      if (item._id === '') {
        axios
          .post('http://localhost:3000/products', item)
          .then(
            function (response) {
              const newProduct = response.data
              this.getProduct()
              this.makeToast(
                'เพิ่มสำเร็จ',
                'สินค้า ' + newProduct._id + ' ถูกเพิ่มแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'เพิ่มไม่สำเร็จ',
              'ไม่สามารถเพิ่ม ' + item._id,
              'danger'
            )
          })
      } else {
        axios
          .put('http://localhost:3000/products/' + item._id, item)
          .then(
            function (response) {
              const newProduct = response.data
              this.getProduct()
              this.makeToast(
                'เเก้ไขสำเร็จ',
                'สินค้า ' + newProduct._id + ' ถูกเเก้ไขแล้ว'
              )
            }.bind(this)
          )
          .catch(() => {
            this.makeToast(
              'แก้ไขไม่สำเร็จ',
              'ไม่สามารถแก้ไข ' + item._id,
              'danger'
            )
          })
      }
    },
    editProduct (item) {
      this.selectedItem = JSON.parse(JSON.stringify(item))
      this.$nextTick(() => {
        this.$refs.productForm.show()
      })
    },
    deleteProduct (item) {
      if (confirm(`คุณต้องการลบสินค้า  ${item._id} ?`)) {
        axios
          .delete('http://localhost:3000/products/' + item._id)
          .then(
            function (response) {
              this.getProduct()
              this.makeToast('ลบสำเร็จ', 'สินค้า ' + item._id + ' ถูกลบแล้ว')
            }.bind(this)
          )
          .catch(() => {
            this.makeToast('ลบไม่สำเร็จ', 'ไม่สามารถลบ ' + item._id, 'danger')
          })
      }
    },
    getProduct () {
      const self = this
      axios.get('http://localhost:3000/products').then((response) => {
        console.log(response)
        self.productItem = response.data
      })
    }
  },
  data () {
    return {
      fields: [
        {
          key: '_id',
          label: 'ไอดี'
        },
        {
          key: 'name',
          label: 'ชื่อสินค้า'
        },
        {
          key: 'price',
          label: 'ราคา'
        },
        {
          key: 'operators',
          label: 'กระบวนการ'
        }
      ],
      productItem: [],
      selectedItem: null
    }
  },
  mounted () {
    this.getProduct()
  }
}
</script>
<style></style>
